footer{

    position:fixed;
    bottom: 0;

    font-size: 1.2em;
    font-style: italic;
    font-weight: bolder;
    border-top: #78909c solid;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 0.5em;
    padding-left: 0.5em;
    margin-top: 1.5em;
    width: 100%;
    color: white;
    background-color: black;
}

footer .apple{
    color: #e91e63;
}
