<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Add Pet</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/main.css}" href="../static/css/main.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/footer.css}" href="../static/css/footer.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{js/footer.js}" src="../static/js/footer.js"></script>
</head>
<body>
<main>
    <h1>Add Pet</h1>
    <form method="post"
          th:action="@{InsertPet}" action="ConfirmInsert.html"
          th:object="${form}">

        <div th:if="${#fields.hasErrors('*')}">
            <h3 class="error">Input Errors</h3>
            <ul>
                <li th:each="e: ${#fields.errors('*')}" th:text="${e}"
                    class="error">Input Error</li>
            </ul>
        </div>
        <h2>Pet Name</h2>
        <p>
            <label for="first" class="group_label">Name</label><br>
            <input id="first" type="text" th:field="*{firstName}"/>
            <span th:if="${#fields.hasErrors('firstName')}"
                  class="error">&larr;&nbsp;<span th:errors="*{firstName}">First Name Error</span></span>
        </p>


        <h2>Pet Info</h2>
        <p>
            <label for="prog" class="group_label">Pet Kind</label><br>
            <select id="prog" th:field="*{petKind}">
                <option th:each="p: ${programs}" th:value="${p}" th:text="${p}">--- Select Pet ---</option>
            </select>
            <span th:if="${#fields.hasErrors('petKind')}"
                  class="error">&larr;&nbsp;<span th:errors="*{petKind}">Program Name Error</span></span>
        </p>
        <p>
            <label class="group_label">Gender</label><br>


            <label><input type="radio" name="gender" value="Male">Male</label>
            <label><input type="radio" name="gender" value="Female">Female</label>


            <span th:if="${#fields.hasErrors('gender')}"
                  class="error">&larr;&nbsp;<span th:errors="*{gender}">Program Year Error</span></span>
        </p>
        <p>
            <label class="group_label">Vaccination</label><br>
            <label><input type="checkbox" th:field="*{vaccine}" th:value="yes"/>Vaccinated</label>

        </p>
        <p>
            <input type="reset" value="Clear"/>
            <input type="submit" value="Send"/>
        </p>
    </form>

    <p><a href="ListPets.html" th:href="@{ListPets}">List Pets</a></p>
</main>
</body>
</html>
